<%= javascript_include_tag "graph" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="graph">

        <% @search_labels.each_with_index do |search_label, search_label_index| %>
          <% label_id = "label" + (search_label_index + 1).to_s %>
          <% graph_id = "search" + (search_label_index + 1).to_s %>
          <div id="<%= label_id %>" class="graph-label">
            <b>Search:</b>
            <%= search_label %>
          </div>
          <div id="<%= graph_id %>" class="search-graph"></div>
        <% end %>
        
        <svg id="graph"></svg>
      </div>
    </div>
  </div>
</div>