<div class="container">
  <div class="row centered">
    <div class="col-md-12">
      <div class="survey-completed">
        <h1>Thanks for completing our survey!</h1>
      </div>
    </div>
  </div>
</div>
