// Place all the styles related to the Instruction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instruction {
  margin-top: 55px;
}

.instruction h2 {
  color: #000;
}

.sample-query {
  margin-left: 10%;
  margin-right: 10%;
}